header{
    background-image: url(./image/header2_3eme.jpg);
    background-size: 100% 100%;
    height: 225px;
}
header h3{
    display: inline-block;
    text-align: center;
    margin-left: 150px;
    font-size: 2.1em;
    text-indent: 25px;
    color: rgb(49, 6, 6);
    font-style: oblique;
}
#titre_principal{
    display: inline-block;
}
header h1{
    font-family: serif;
    font-size: 1.5em;
    font-weight: normal;
}
#logo{
    width: 95px;
    height: 72px;
}
#logo, header h1{
    display: inline-block;
    margin-bottom: 0px;
}
header h2{
    font-family: Dayrom, serif;   
    font-size: 2.1em;   
    margin-top: 0px;    
    font-weight: normal;
}
#wrap{
    height: 0px; 
    margin-bottom: 0px;
    z-index: 99; 
    position: relative; 
    background-color: #444444;
}
.navbar{
    height: 25px;
    padding: 0;
    margin: 0;
    position: absolute; 
    width: 100%;
}
.navbar li {
    height: auto;
    width: 145.8px; 
    float: left;  
    text-align: center; 
    list-style: none;  
    font: normal bold 13px/1em Arial, Verdana, Helvetica;  
    padding: 0;
    margin: 0;
    background-color: #444444;
}
.navbar a{							
    padding: 18px 0;  
    border-left: 1px solid #ccc9c9;
    text-decoration: none; 
    color: white; 
    display: block;
}
.navbar li:hover, a:hover {
    background-color: #444444;
}
.navbar li ul{
    display: none;
    height: auto;									
    margin: 0; 
    padding: 0; 
}
.navbar li:hover ul{
    display: block;
}
.navbar li ul li{
    background-color: #444444;
}
.navbar li ul li a{
    border-left: 1px solid #444444; 
    border-right: 1px solid #444444; 
    border-top: 1px solid #c9d4d8; 
    border-bottom: 1px solid #444444; 
}
.navbar li ul li a:hover{
    background-color: #a3a1a1;
}
main{
    height: 500px;
    width: 100%;
    background-image: url(./image/logo\ l2S.jpg);
    background-size: 100% 100%;
}
main h1{
	margin-top: 100px;
	padding-top: 100px;
	padding-left: 100px;
	font-size: 50px;
	font: normal 36px 'Cookie', cursive;
	color: rgb(255, 0, 106);
}
main h2{
	padding-left: 75%;
}
.footer{
    width: 100%;
    background-image: url(./image/footer1.jpg);
    display: block;
    background-position: center;
    background-size: 100% 100%;    
}
.footer-distribtion{
    background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	margin-top: 80px;
}
.footer-distribution .footer-left,
.footer-distribution .footer-center,
.footer-distribution .footer-right{
    display: inline-block;
	vertical-align: top;
}
.footer-distribution .footer-left{
	width: 40%;
}
.footer-distribution h3{
	color: maroon;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
.footer-distribution .footer-links{
	color:  #f10909;
	margin: 20px 0 12px;
	padding: 0;
}
.footer-distribution .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer-distribution .footer-company{
	color: black;
	font-size: 14px;
	font-weight: normal;
    margin: 0;
}
.footer-distribution .footer-center{
	width: 35%;
}
.footer-distribution .footer-center i{
	background-color:  #33383b;
	color: #080808;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-distribution .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-distribution .footer-center p{
	display: inline-block;
	color: black;
	vertical-align: middle;
	margin:0;
}
.footer-distribution .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.footer-distribution .footer-center p a{
	color: black;
	text-decoration: none;;
}
.footer-distribution .footer-right{
	width: 20%;
}
.footer-distribution .footer-company-about{
	line-height: 20px;
	color: black;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distribution .footer-company-about span{
	display: block;
	color: black;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distribution .footer-icons{
	margin-top: 25px;
}

.footer-distribution .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: black;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}
@media (max-width: 880px) {
	header{
		background-size: 100% 100%;
		height: 125px;
	}
	header h3{
		display: inline-block;
		text-align: center;
		margin-left: 150px;
		font-size: 1.0em;
		text-indent: 25px;
		color: rgb(49, 6, 6);
		font-style: oblique;
	}
	#titre_principal{
		display: inline-block;
	}
	header h1{
		font-family: serif;
		font-size: 1.3em;
		font-weight: normal;
	}
	#logo{
		width: 75px;
		height: 52px;
	}
	#logo, header h1{
		display: inline-block;
		margin-bottom: 0px;
	}
	header h2{
		font-family: Dayrom, serif;   
		font-size: 0px;   
		font-weight: normal;
		display: inline-block;
		margin-top: 0px;
	}
	#wrap{
		height: 0px; 
		margin-bottom: 0px;
		z-index: 99; 
		position: relative; 
		background-color: #444444;
	}
	.navbar{
		height: 35px;
		padding: 0;
		margin: 0;
		position: absolute; 
		width: auto;
	}
	.navbar li {
		height: auto;
		width: 55px; 
		float: left;  
		text-align: center; 
		list-style: none;  
		font: normal bold 9px/0.5em Arial, Verdana, Helvetica;  
		padding: 0;
		margin: 0;
		background-color: #444444;
	}
	.navbar a{							
		padding: 10px 0;  
		border-left: 1px solid #ccc9c9;
		text-decoration: none; 
		color: white; 
		display: block;
	}
	.navbar li:hover, a:hover {
		background-color: #444444;
	}
	.navbar li ul{
		display: none;
		height: auto;									
		margin: 0; 
		padding: 0; 
	}
	.navbar li:hover ul{
		display: block;
	}
	.navbar li ul li{
		background-color: #444444;
	}
	.navbar li ul li a{
		border-left: 1px solid #444444; 
		border-right: 1px solid #444444; 
		border-top: 1px solid #c9d4d8; 
		border-bottom: 1px solid #444444; 
	}
	.navbar li ul li a:hover{
		background-color: #a3a1a1;
	}
	main{
		height: 500px;
		width: 100%;
		background-image: url(./image/logo\ l2S.jpg);
		background-size: 100% 100%;
	}
	main h1{
		margin-top: 100px;
		padding-top: 100px;
		padding-left: 0px;
		font-size: 50px;
		font: normal 36px 'Cookie', cursive;
		color: rgb(255, 0, 106);
	}
	main h2{
		padding-left: 75%;
	}
	.footer-distribution{
		font: bold 14px sans-serif;
	
	}
	.footer-distribution .footer-left,
	.footer-distribution .footer-center,
	.footer-distribution .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}
